.goals_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    padding-top: 80px;
  }
  
  .goals {
    text-align: center;
    margin-bottom: 20px;
    max-width: 800px;
  }

  .goals h1{
    font-size: 40px;
    font-weight: 500;
  }

  .goals p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    color: #747d8c;
  }
  
  .ratings_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .ratings_card {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    padding: 0 30px;
  }
  
  .ratings_card svg {
    color: #3742fa; 
    font-size: 2.5em; 
    margin-right: 5px;
  }
  
  .ratings_card span {
    text-align: left;
    color: #3742fa;
  }